.profile {
  width: 100%;
  padding: 20px 15px;

  &-card {
    width: 100%;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    img {
      border-radius: 50%;
      max-width: 96px;
      max-height: 96px;
      min-width: 96px;
      min-height: 96px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid var(--primary-color);
      padding: 2px;
    }

    p {
      margin: 0;
      margin-top: 10px;
      color: var(--primary-color);

      &:nth-last-child(2) {
        font-size: 16px;
        font-weight: bold;
        display: flex;

        input {
          font-size: 16px;
          font-weight: bold;

          &:disabled {
            background: transparent;
          }
        }
      }

      &:nth-last-child(1) {
        font-size: 14px;
        color: var(--desctiptions-color);
      }
    }
  }
}
.avatar-logout {
  position: absolute;
  top: 20px;
  right: 32px;
  color: var(--primary-color);

  @media (max-width: 574px) {
    right: 20px;
  }
}


.booth-capture-button {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background: cornflowerblue;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#canvas {
  display: none;
}