.bottom-tools {
  position: sticky;
  bottom: 0;
  background: rgba(255, 255, 255, 0.648);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 700px;
  width: 100%;

  &__wrapper {
    padding: 10px 15px;
    display: flex;
    width: 100%;

    input {
      background: white;
      border-radius: 6px;
      width: 100%;
      padding: 14px 24px;
      margin-right: 15px;
      width: 100%;
    }

    button {
      padding: 8px;
      border-radius: 6px;
      background: #21b08e;
      color: white;
    }
  }
}
