body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  scroll-behavior: smooth;
}
html[data-theme="dark"]{
  --bg-color:#17062A;
  --title-color: #F8E351;
  --text-color:white;
  --message-color:#331B4D;
  --toolbar-color:#1E0836;
}
html[data-theme="light"]{
  --bg-color:#F8F8F8;
  --title-color: #4285F4;
  --text-color:black;
  --message-color:#D9D9D9;
  --toolbar-color:#D9D9D9;
}
.bottomtools__input{
  border-radius:30px;
  height:36px;
  width:100%;
  margin-left:12px;
  margin-right: 16px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  background-color: var(--bg-color);
  color: var(--text-color)
}
.bottomtools__input:focus{
  border: none;
}
.bottomtools__input:active, .bottomtools__input:hover, .bottomtools__input:focus {
  outline: 0;
  outline-offset: 0;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color:var(--message-color);
  border-radius: 20px;
  margin-left: 10px;
  box-shadow: inset 0 0 6px rgba(114, 114, 114, 0.575);
}