.navabar-bottom__link {
  text-decoration: none;
  display: flex;
  color: var(--background-one-ton);
  margin-right: 20px;
  align-items: center;
  padding: 6px 10px;
  border-radius: 4px;

  &:last-child {
    margin-right: 0;
  }

  p {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 0 10px;

    @media (max-width: 500px) {
      display: none;
    }
  }
}

.navabar-bottom__link_active {
  background: var(--background-color);
  color: white;
}
