.me-message {
  align-self: flex-end;
}

.message {
  display: flex;
  margin: 6px 12px 6px 12px;
}
.message__avatar {
  border-radius: 100px;
  width: 36px;
  height: 36px;
  position: sticky;
  bottom: 4px;
  align-self: flex-end;
}

.message__text-wrapper {
  background: var(--background-color);
  box-shadow: var(--message-shadow);
  padding: 9px 18px 18px 18px;
  border-radius: 18px;
  margin-left: 8px;
  max-width: 500px;
  width: 100%;
}

.message__user-name {
  font-size: 12px;
  color: var(--primary-font-color);
  font-weight: 700;
}

.message__user-text {
  font-size: 14px;
  color: var(--primary-font-color);
  text-shadow: 1px 1px 0 rgb(75, 70, 70);
}
